:root {
  --main-color: #136bf0;
  --text-color: #fff;
  --dark-text-color: #111111;
  --form-header-radius: 0 150px 150px 0;
  --button-radius: 6px;
  --border-color: #e2e2e2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
body {
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.component h2 {
  font-size: 48px;
  font-weight: 600;
}
.swappable-form {
  width: 650px;
  height: 400px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.swappable-form button {
  cursor: pointer;
}
.swappable-form .content {
  width: 200%;
  height: 100%;
  display: flex;
}
.swappable-form .form {
  display: flex;
  justify-content: space-between;
  /* gap: 16px; */
  min-width: 100%;
  position: relative;
}
.swappable-form .form-content {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  user-select: none;
}
.swappable-form .form-header {
  color: var(--text-color);
  position: relative;
  z-index: 100;
}
.swappable-form .form-header h3 {
  font-size: 32px;
  font-weight: 600;
}
.swappable-form .form-header p {
  font-size: 16px;
}
.swappable-form .form-header button {
  padding: 10px 30px;
  color: var(--text-color);
  background-color: var(--main-color);
  border: 2px solid var(--text-color);
  border-radius: var(--button-radius);
  -webkit-border-radius: var(--button-radius);
  -moz-border-radius: var(--button-radius);
  -ms-border-radius: var(--button-radius);
  -o-border-radius: var(--button-radius);
}
.swappable-form .form-wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.swappable-form .form-wrapper h4 {
  font-size: 28px;
  font-weight: 600;
}
.swappable-form .form-wrapper form a {
  color: var(--dark-text-color);
  font-size: 12px;
  text-decoration: none;
}
.swappable-form .form-wrapper form button {
  width: 100%;
  padding: 12px;
  background-color: var(--main-color);
  color: var(--text-color);
  border: 2px solid var(--main-color);
  border-radius: var(--button-radius);
  -webkit-border-radius: var(--button-radius);
  -moz-border-radius: var(--button-radius);
  -ms-border-radius: var(--button-radius);
  -o-border-radius: var(--button-radius);
}
.swappable-form .form-wrapper form button:hover {
  background-color: var(--text-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
.swappable-form .form-wrapper .form-input {
  width: 100%;
  height: 36px;
  position: relative;
}
.swappable-form .form-wrapper .form-input input {
  width: 100%;
  height: 100%;
  padding: 6px;
  position: absolute;
  outline: 0;
  border: 2px solid var(--border-color);
  border-radius: var(--button-radius);
  -webkit-border-radius: var(--button-radius);
  -moz-border-radius: var(--button-radius);
  -ms-border-radius: var(--button-radius);
  -o-border-radius: var(--button-radius);
}
.swappable-form .social-buttons {
}
.social-platform {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.social-platform .social-buttons button {
  display: inline-block;
  padding: 16px;
  color: var(--dark-text-color);
  background-color: var(--text-color);
  border: 2px solid var(--border-color);
  border-radius: var(--button-radius);
  -webkit-border-radius: var(--button-radius);
  -moz-border-radius: var(--button-radius);
  -ms-border-radius: var(--button-radius);
  -o-border-radius: var(--button-radius);
}
.social-buttons button:hover {
  color: var(--text-color);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
}
/*
.swappable-form .form-wrapper form {
 
 
}





*/
.social-buttons img {
  width: 16px;
  height: 16px;
  color: var(--text-color);
}
.swappable-form .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 48%;
  height: 100%;
  background-color: var(--main-color);
  border-radius: var(--form-header-radius);
  -webkit-border-radius: var(--form-header-radius);
  -moz-border-radius: var(--form-header-radius);
  -ms-border-radius: var(--form-header-radius);
  -o-border-radius: var(--form-header-radius);
}
